<ng4-loading-spinner> </ng4-loading-spinner>



<div class="row profile">

  <div class="col-sm-3">

    <!-- informacion personal del usuario -->

    <div class="row">
      <div class="col-xs-7 col-sm-12 profile-img-container">
        <img class="profile-image" [src]="foto" (error)="notExistImage($event)">
        <a *ngIf="isUsuarioLogado()" href="javascript:void(0)" class="positioner" onclick="document.getElementById('fileToUpload').click()">
          <i class="fa fa-pencil blue icon" style="width:25px;font-size:25px;padding: 5px 0"></i>
        </a>
        <i *ngIf="!isUsuarioLogado()" class="fa fa-pencil blue icon" style="width:25px;font-size:25px;padding: 5px 0"></i>
      </div>

      <div class="col-xs-5 col-sm-12" *ngIf="usuarioCargado">
        <h3 *ngIf="grito">{{grito}}</h3>

        <ul class="profile-details">
          <li *ngIf="usuario">
            <div>
              <i class="fa fa-user"></i> {{usuario}}</div>
          </li>
          <li *ngIf="isUsuarioLogado()">
            <div>
              <i class="fa fa-dollar"></i>R$ {{cash}}</div>
          </li>
          <li style="font-size:15px">
              <span class="yellow" style="font-weight:bold">{{palpitados}}</span>                                               
              Palpitados                                                         
          </li>
          <li style="font-size:15px">                                               
              <span class="green" style="font-weight:bold">{{acertos}}</span>  
              Acertos                                                         
          </li>  
          <li style="font-size:15px">                                         
              <span class="green" style="font-weight:bold">{{pontos}}</span>      
              Pontos                                                         
          </li>  
          <li style="font-size:15px">                                        
              <span class="red" style="font-weight:bold">{{erros}}</span>       
              Erros                                                         
          </li>                         
        </ul>

        <input id="fileToUpload" type="file" style="display:none;" (change)="handleFileInput($event.target.files)">
      </div>
    </div>

    <!-- fin del a informacion personal del usuario -->

  </div>

  <div class="col-sm-9">

    <ul class="nav nav-tabs" id="myTab">
      <li class="active">
        <a href="page-profile.html#palpites" (click)="palpites()">Palpites</a>
      </li>
      <li class="" *ngIf="isUsuarioLogado()">
        <a href="page-profile.html#skills">Emails</a>
      </li>
      <li class="" *ngIf="isUsuarioLogado()">
        <a href="page-profile.html#friends" (click)="palpites()">Estatisticas</a>
      </li>

    </ul>



    <div class="tab-content">
        <div class="tab-pane active" id="palpites">

          <div class="row" style="margin:auto" *ngIf="!tabPalpitesCargado">
            Carregando...
          </div>

            <div class="row" *ngIf="tabPalpitesCargado">
    

                <div *ngFor='let partido of partidos'>
                    <div class="col-lg-4 col-sm-6 col-xs-6 col-xxs-12 col-xxs-6" style="margin-top: 10px">
                      <div class="smallstat box" style="border:1px solid #dbdee0; padding:7px">
                        <table width="100%">
                          <tbody>
                            <tr>
                              <td style="text-align:center">
                                <b>
                                  <a href="{{url}}/palpitarrodada/{{partido.ch_id}}">{{partido.ch_nome}}</a>
                                </b>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table width="100%">
                          <tbody>
                            <tr>
                              <td style="text-align:center">
                                <b>{{partido.mt_date | date: 'dd/MM/yyyy HH:mm'}}</b>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table>
                          <tbody>
                            <tr>
                              <td width="55%" style="text-align:left">
                                <span id="376">
                                  <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br/{{partido.tm1_logo}}"> {{partido.t1nome}}
                                </span>
                              </td>
                              <td width="10%" style="text-align:right" *ngIf="partido.mt_played === '1'">
                                <span class="label label-danger" *ngIf="!verificarSuceso(partido)">{{partido.mt_goal1}}</span>
                                <span class="label label-success" *ngIf="verificarSuceso(partido)">{{partido.mt_goal1}}</span>
                              </td>
                              <td width="35%">
                                <div class="row">
                                  <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                                    <input disabled="disabled" style="text-align:center" class="form-control numeros_input" [(ngModel)]="partido.rs_res1"
                                      name="rs_res1{{partido.mt_id}}" type="text">
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table>
                          <tbody>
                            <tr>
                              <td width="55%" style="text-align:left">
                                <span id="372">
                                  <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br/{{partido.tm2_logo}}"> {{partido.t2nome}}
                                </span>
                              </td>
                              <td *ngIf="partido.mt_played === '1'" width="10%" style="text-align:right">
                                  <span class="label label-danger" *ngIf="!verificarSuceso(partido)">{{partido.mt_goal2}}</span>
                                  <span class="label label-success" *ngIf="verificarSuceso(partido)">{{partido.mt_goal2}}</span>
                              </td>
                              <td width="35%">
                                <div class="row">
                                  <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                                    <input disabled="disabled" style="text-align:center" class="form-control numeros_input" [(ngModel)]="partido.rs_res2"
                                      name="rs_res2{{partido.mt_id}}" type="text">
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div id="466" style="margin: 15px 0 0 0; ">
                          <div id="dvInfo_1114" style="display:none"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  

            </div>

            <div class="row" style="margin:auto" *ngIf="tabPalpitesCargado">
                <a href="/perfil/{{proximo}}/usuario/{{idUsuario}}" class="btn btn-sm btn-primary">Mais</a>
            </div>
            <!--/row-->
    
          </div>
      <div class="tab-pane" id="skills" *ngIf="isUsuarioLogado()">

        <div class="row">

          <div class="col-sm-12">
            <h2>Configuracao de emails:</h2>
            <div class="controls row">

              <div class="col-md-1 col-sm-2 col-xs-3">
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="resPalpite">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <span style="padding-left:10px">Receber resultados de jogos palpitados.</span>
            </div>

            <div class="controls row">

              <div class="col-md-1 col-sm-2 col-xs-3">
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="resRodadaPalpite">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <span style="padding-left:10px">Receber resultados de rodadas palpitadas.</span>
            </div>


            <div class="controls row">

              <div class="col-md-1 col-sm-2 col-xs-3">
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="infoRodadaGeral">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <span style="padding-left:10px">Receber informacao de datas de jogos de qualquer campeoanto.</span>
            </div>
          </div>
          <!--/col-->

          <a href="javascript:void(0)" style="margin-left: 15px;" class="btn btn-success" (click)="salvarConfiguracionEmail()">Salvar</a>

        </div>
        <!--/row-->

      </div>
      <div class="tab-pane" id="friends" *ngIf="isUsuarioLogado()">
        <div class="row">
          <div class="col-sm-7">
            <ul class="skill-bar">
              <li>
                <h5>Palpites {{palpitados}}</h5>
                <div class="meter">
                  <span class="lightBlue" style="width: 40%;">40%</span>
                </div>
              </li>
              <li>
                <h5>Acertos {{acertos}}</h5>
                <div class="meter">
                  <span class="green" style="width: 80%;">80%</span>
                </div>
              </li>
              <li>
                <h5>Pontos {{pontos}}</h5>
                <div class="meter">
                  <span class="red" style="width: 100%;">100%</span>
                </div>
              </li>
              <li>
                <h5>Errados {{erros}}</h5>
                <div class="meter">
                  <span class="lightOrange" style="width: 60%;">60%</span>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--/col-->

</div>