<ng4-loading-spinner> </ng4-loading-spinner>



<div class="row profile">

  <div class="col-sm-3">

    <!-- informacion personal del usuario -->

    <div class="row">
        <div class="col-xs-7 col-sm-12 profile-img-container">
            <img class="profile-image" [src]="foto">
            <a href="javascript:void(0)" class="positioner" onclick="document.getElementById('fileToUpload').click()">
                <i class="fa fa-pencil blue icon" style="width:25px;font-size:25px;padding: 5px 0" ></i>
              </a>
          </div>

      <div class="col-xs-5 col-sm-12">
        <h3>Dados Gerais</h3>

        <ul class="profile-details">
          <li>
            <div>
              <i class="fa fa-user"></i> {{usuario}}</div>
          </li>
          <li>
            <div>
              <i class="fa fa-dollar"></i>R$ {{cash}}</div>
          </li>
        </ul>

          <input id="fileToUpload" type="file" style="display:none;" (change)="handleFileInput($event.target.files)">
      </div>
    </div>

    <!-- fin del a informacion personal del usuario -->

  </div>

  <div class="col-sm-9">

    <ul class="nav nav-tabs" id="myTab">
      <li class="active">
        <a href="page-profile.html#skills">Emails</a>
      </li>
      <li class="">
        <a href="page-profile.html#friends" (click)="palpites()">Palpites</a>
      </li>      
    </ul>



    <div class="tab-content">
      
      <div class="tab-pane active" id="skills">

        <div class="row">

          <div class="col-sm-12">
            <h2>Configuracao de emails:</h2>
            <div class="controls row">

              <div class="col-md-1 col-sm-2 col-xs-3">
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="resPalpite">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <span style="padding-left:10px">Receber resultados de jogos palpitados.</span>
            </div>

            <div class="controls row">

              <div class="col-md-1 col-sm-2 col-xs-3">
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="resRodadaPalpite">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <span style="padding-left:10px">Receber resultados de rodadas palpitadas.</span>
            </div>


            <div class="controls row">

              <div class="col-md-1 col-sm-2 col-xs-3">
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="infoRodadaGeral">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <span style="padding-left:10px">Receber informacao de datas de jogos de qualquer campeoanto.</span>
            </div>
          </div>
          <!--/col-->

          <a href="javascript:void(0)" style="margin-left: 15px;" class="btn btn-success" (click)="salvarConfiguracionEmail()">Salvar</a>

        </div>
        <!--/row-->

      </div>
      <div class="tab-pane" id="friends">
          <div class="row">
        <div class="col-sm-7">
          <ul class="skill-bar">
                <li>
                    <h5>Palpites {{palpitados}}</h5>
                    <div class="meter"><span class="lightBlue" style="width: 40%;">40%</span></div>
                  </li>
                  <li>
                    <h5>Acertos {{acertos}}</h5>
                    <div class="meter"><span class="green" style="width: 80%;">80%</span></div>
                  </li>
                  <li>
                    <h5>Pontos {{pontos}}</h5>
                    <div class="meter"><span class="red" style="width: 100%;">100%</span></div>
                  </li>
                  <li>
                    <h5>Errados {{erros}}</h5>
                    <div class="meter"><span class="lightOrange" style="width: 60%;">60%</span></div>
                  </li>
            
              </ul>                
        </div>
      </div>
      </div>
    </div>

  </div>
  <!--/col-->

</div>