<ng4-loading-spinner> </ng4-loading-spinner>

<div class="row profile">

  <div class="col-sm-3">

    <!-- informacion personal del usuario -->

    <div class="row">
      <div class="col-xs-5 col-sm-12">
        <h3>Dados Gerais</h3>

        <ul class="profile-details">
          <li>
            <div>
              <i class="fa fa-user"></i> {{usuario}}</div>
          </li>
        </ul>

       
      </div>
    </div>

    <!-- fin del a informacion personal del usuario -->

  </div>

  <div class="col-sm-9">

    <ul class="nav nav-tabs" id="myTab">
      <li class="active">
        <a href="page-profile.html#skills">Emails</a>
      </li>
    </ul>



    <div class="tab-content">
      <div class="tab-pane active" id="skills">

        <div class="row">

          <div class="col-sm-12">
            <h2>Configuracao de emails:</h2>
            <div class="controls row">

              <div class="col-md-1 col-sm-2 col-xs-3">
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="resPalpite">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <span style="padding-left:10px">Receber resultados de jogos palpitados.</span>
            </div>

            <div class="controls row">

              <div class="col-md-1 col-sm-2 col-xs-3">
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="resRodadaPalpite">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <span style="padding-left:10px">Receber resultados de rodadas palpitadas.</span>
            </div>


            <div class="controls row">

              <div class="col-md-1 col-sm-2 col-xs-3">
                <label class="switch switch-primary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="infoRodadaGeral">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
              <span style="padding-left:10px">Receber informacao de datas de jogos de qualquer campeoanto.</span>
            </div>
          </div>
          <!--/col-->

          <a href="javascript:void(0)" style="margin-left: 15px;" class="btn btn-success" (click)="salvarConfiguracionEmail()">Salvar</a>

        </div>
        <!--/row-->

      </div>
      <div class="tab-pane" id="friends">

      </div>

    </div>

  </div>
  <!--/col-->

</div>