<div class="title padding" style="background-color:white !important"><a href="javascript:void(0)" (click)="serieApartidosHoy()" class="btn btn-info">Brasileirão Serie A - Partidos de Hoy</a></div>   

<div class="title padding" style="background-color:white !important"><a href="javascript:void(0)" (click)="serieApartidosAyer()" class="btn btn-info">Brasileirão Serie A - Resultados de Ayer</a></div>   

<div class="title padding" style="background-color:white !important"><a href="javascript:void(0)" (click)="serieBpartidosHoy()" class="btn btn-info">Brasileirão Serie B - Partidos de Hoy</a></div>   

<div class="title padding" style="background-color:white !important"><a href="javascript:void(0)" (click)="serieBpartidosAyer()" class="btn btn-info">Brasileirão Serie B - Resultados de Ayer</a></div>   

<pre>{{resultado}}</pre>