
<div class="row">
    <div class="col-lg-12">
      <div class="box">
        <div class="box-content">
          <form class="form-horizontal">
            <div class="form-group">
              <div class="controls">
                <select [ngModel]="campeonatos" class="form-control" (ngModelChange)="seleccionarCampeonato($event)" name="seleccion">
                  <option [value]="campeonato.ch_id" *ngFor="let campeonato of campeonatos">{{campeonato.ch_nome}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>