<ng4-loading-spinner> </ng4-loading-spinner>

<div class="row" style="  margin: 0 auto;width: 100% !important;">
  <div class="col-lg-12" style="padding: 0px">
    <div class="box">
      <div class="box-header" style="border-bottom: 0px !important; background-color:black">
        <h2>
          <i class="fa fa-star"></i>
          <span class="break"></span>
          <a href="#proximosjogos" style="color:white; padding-right:20px">Próximos Jogos</a>
          <span class="break"></span>
          <a href="#brasileirao1000reais" style="color:white; padding-right:20px">Brasileirão R$ 1.000</a>
          <span class="break"></span>
          <a href="#noticias" style="color:white; padding-right:20px">Noticias</a>
          <span class="break"></span>
          <a href="#contacto" style="color:white; padding-right:20px">Contacto</a>
        </h2>
      </div>

      <!-- PRIMER DIVIDER -->

      <div class="box-content" style="background: url('https://image.winudf.com/v2/image/Y29tLnNnbS5zb2NjZXJ3YWxscGFwZXJfc2NyZWVuc2hvdHNfMV8xNzgyZGQ5Mg/screen-1.jpg?h=800&fakeurl=1&type=.jpg'); height:500px">

        <div id="login" class="col-lg-4" style="padding-top: 20px">


          <form *ngIf="mostrarLogin" [formGroup]="login" class="form-horizontal" (ngSubmit)="onSubmit()">
            <div class="titulo">
              Login Bolão Craque de Bola
            </div>

            <div *ngIf="loginIncorrecto" class="alert alert-danger">
              Erro: Usuario e/ou senha incorretos
            </div>
            <div *ngIf="erro" class="alert alert-danger">
              Ops! Erro inesperado, tente novamente ou envie uma mensagem pelo Whatsapp (19) 98-264-2861
            </div>

            <div style="text-align:center; padding-top: 10px">
              <a href="javascript:void(0)">
                <img src="http://www.domadigital.com/facebook/login/login-botao.png" height="50px" (click)="signInWithFB()" />
              </a>
            </div>

            <div class="form-group">
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  <input formControlName="usuario" placeholder="Usuario" class="form-control" size="16" type="text">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                  </span>
                  <input type="password" formControlName="password" placeholder="Senha" class="form-control" size="16">
                </div>
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary">LogIn</button>
              <a href="javascript:void(0)" (click)="cadastrese()" class="btn">Cadastre-se</a>
              <img src="https://cdn.icon-icons.com/icons2/373/PNG/256/Whatsapp_37229.png" width="5%" /> (19) 98264-2861
            </div>
          </form>

          <form *ngIf="!mostrarLogin" [formGroup]="registro" class="form-horizontal" (ngSubmit)="onSubmitRegistro()">

            <div class="titulo">
              Cadastre-se no Bolão Craque de Bola
            </div>

            <div *ngIf="loginIncorrecto" class="alert alert-danger">
              Erro: Usuario e/ou senha incorretos
            </div>

            <div *ngIf="erro" class="alert alert-danger">
              Ops! Erro inesperado, tente novamente ou envie uma mensagem pelo Whatsapp (19) 98-264-2861
            </div>

            <div [ngClass]="{'form-group':true,'has-error':!usuario.value }">
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  <input #usuario formControlName="usuario" placeholder="Usuario" class="form-control" size="16" type="text">
                </div>
              </div>
            </div>

            <div [ngClass]="{'form-group':true,'has-error':!password.value }">
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                  </span>
                  <input #password type="password" formControlName="password" placeholder="Senha" class="form-control" size="16">
                </div>
              </div>
            </div>

            <div [ngClass]="{'form-group':true,'has-error':!email.value }">
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope-o"></i>
                  </span>
                  <input #email type="email" formControlName="email" placeholder="Email" class="form-control" size="16" type="email">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="controls">
                <div class="input-prepend input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-volume-up"></i>
                  </span>
                  <input type="text" id="prependedInput" formControlName="grito" placeholder="Grito de Guerra" class="form-control" size="16"
                    type="text">
                </div>
              </div>
            </div>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Aceitar</button>
              <a href="javascript:void(0)" (click)="backToLogin()" class="btn">LogIn</a>
              <img src="https://cdn.icon-icons.com/icons2/373/PNG/256/Whatsapp_37229.png" width="5%" /> (19) 98264-2861
            </div>
          </form>
        </div>

        <div class="col-lg-2"></div>

        <div class="col-lg-4">

        </div>

        <div class="clearfix"></div>
      </div>

      <!-- SEGUNDO DIVIDER -->

      <!-- PARTIDOS PARA PALPITAR -->

      <div class="row">
        <app-proximos-partidos></app-proximos-partidos>
        <div class="clearfix" style="background:white"></div>
      </div>

      <div class="row">
        <div *ngFor="let campeonato of campeonatos" class="col-lg-3 col-sm-6">
          <div>
            <div style="height:250px">
              <a href="/palpitarrodada/{{campeonato.ch_id}}">
                <img height="250px" width="200px" src="{{campeonato.ch_logocampeonato}}" style="padding: 10px 10px 10px 10px">
              </a>
            </div>
            <div class="title">
              <a href="/palpitarrodada/{{campeonato.ch_id}}">
                {{campeonato.ch_nome}}</a>
            </div>
          </div>
        </div>
      </div>

      <!-- TERCERO DIVIDER -->
      <div class="row">
        <div class="box-content" style="background-color: #8080801c">
          <div class="col-lg-4">
            <h1 style="text-align:center; font-size:150px">
              <i class="fa fa-usd"></i>
              <h1 style="text-align:center">
                <small style="color:black;text-shadow: 2px 2px white">Ganhe R$ a cada rodada.</small>
              </h1>
            </h1>
          </div>
          <div class="col-lg-4">
            <h1 style="text-align:center; font-size:150px">
              <i class="fa fa-trophy"></i>
              <h1 style="text-align:center">
                <small style="color:black;text-shadow: 2px 2px white">Concorre para ganhar premios variados.</small>
              </h1>
            </h1>
          </div>
          <div class="col-lg-4">
            <h1 style="text-align:center; font-size:150px">
              <i class="fa fa-globe"></i>
              <h1 style="text-align:center">
                <small style="color:black;text-shadow: 2px 2px white">5 pontos por palpite acertado.</small>
              </h1>
            </h1>
          </div>



          <div class="clearfix"></div>
        </div>
      </div>

      <!-- TERCEIRO DIVIDER -->

      <!--   <div id="brasileirao1000reais" class="row" style="padding: 30px 30px 30px 30px">

        <span style="text-align: center">
          <h1 style="padding-bottom:15px">Brasileirão 2018 (Premiação R$ 1.000)</h1>
        </span>

        <div class="col-lg-3 col-sm-6 col-xs-12 col-xxs-12" style="font-size:18px;text-align:center">
          <p>
            Existem bolões que o usuario pode participar sem pagar nada.
          </p>
          <p>
            O bolão do Brasileirão 2018 o usuario pode participar sem pagar nada, mas não concorre em nenhuma premiação.
          </p>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12 col-xxs-12" style="font-size:18px;text-align:center">
          <p>
            O bolão do Brasileirão 2018 Premiação R$ 1.000 o usuario pode participar concorrendo por R$ 1.000 para o ganhador do campeonato,
            quem acertó mais resultados ao finalizar. Se mais de um estão primeiro no ranking, se divide a premiação.
          </p>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12 col-xxs-12" style="font-size:18px;text-align:center">
          <p>
            Também quem participa do bolao do Brasileirão 2018 Premiação R$ 1.000 quem acerta mais palpites ao finalizar cada rodada,
            ganha R$ 150. Se mais de um estão primeiro no ranking, se divide a premiação.
          </p>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12 col-xxs-12" style="font-size:18px;text-align:center">
          <p>
            Participar de cada rodada do Brasileirão 2018 Premiação R$ 1.000 custa R$ 10. O pago se realiza com cartão ou boleto, utilizando
            PagSeguro. Nenhuma informação é armazenada no site Bolão Craque de Bola.
          </p>
        </div>
      </div>-->

      <!--  <div class="row" style="padding: 30px 30px 30px 30px">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-xxs-12" style="text-align:center">
          <a href="/palpitarrodada/25">
            <img src="http://www.dymenstein.com/public/assets/img/ganhe100.jpg" style="width:30%">
          </a>
        </div>
      </div> -->
      <!--  <div id="noticias" class="row" style="padding-top:10px">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-xxs-12" style="background-color: #ffffff;">
          <app-noticias></app-noticias>
        </div>
      </div>
    -->

      <div class="row" style="padding-top:10px">

      </div>

      <!-- FIN TERCEIRO DIVIDER -->

      <!-- INICIO DE CONTACTO -->

      <div id="contacto" style="padding: 30px 30px 30px 30px">

        <span style="text-align: center">
          <h1 style="padding-bottom:15px">Contacto</h1>
        </span>

        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbolaocraquedebolaoficial%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=327481340963843"
          width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
          allow="encrypted-media"></iframe>
      </div>

      <!-- FIN DE CONTACTO DIVIDER  -->



    </div>
  </div>
  <!--/col-->



</div>