<ol class="breadcrumb">
    </ol>
    
    <!--<div class="row">	
    <div class="col-lg-12">
    
            <div id="append_danger">
                <div id="alert">
                    <div class="alert alert-danger" style="display:none">
                            <button type="button" class="close close-danger">×</button>
                            <strong>Erro!</strong><p id="alert_msg">Change a few things up and try submitting again.</p>
                    </div>
                </div>
            </div>
            <div id="append_success">
                <div id="success">
                    <div class="alert alert-success" style="display:none">
                            <button type="button" class="close close-success" >×</button>
                            <strong>Sucesso!</strong><p id="sucesso_msg">You successfully read this important alert message.</p>
                    </div>
                </div>
            </div>   
            <div id="append_info">
                <div id="info">
                    <div class="alert alert-info" style="display:none">
                            <button type="button" class="close close-info" >×</button>
                            <strong>Info!</strong><p id="info_msg"> This alert needs your attention, but it's not super important.</p>
                    </div>
                </div>
            </div>
            <div id="warning" class="alert alert-warning" style="display:none">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4 class="alert-heading">Warning!</h4>
                    <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            </div>
    </div>/col
    </div>
    -->
    
    <script type="text/javascript">
    
      function fechar_sucesso() {
        $(".close-success").bind("click", function () {
          $(".alert-success").hide();
        });
      }
    
      function fechar_info() {
        $(".close-info").bind("click", function () {
          $(".alert-info").hide();
        });
      }
    
      function fechar_alert() {
        $(".close-danger").bind("click", function () {
          $(".alert-danger").hide();
        });
      }
    
      $(function () {
        fechar_sucesso();
        fechar_info();
        fechar_alert();
    
      });
    
    </script>
    <div class="box">
      <div class="box-header">
        <h2>
          <i class="fa fa-align-justify"></i>
          <span class="break"></span>Próximos Jogos</h2>
      </div>
      <div class="box-content">
        <div class="row">
          <div style="" id="1140" class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12 col-xxs-6">
            <div class="smallstat box">
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?champ=17">Campeonato Paulista de 2018</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?rodada=187&champ=17">Rodada 4</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>Domingo 28 de Jan. 17:00hs</b>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="361">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/Bragantino.png"
                      />
                      <a href="team/team?team=361&champ=17">Bragantino</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1140" style="text-align:center" class="form-control numeros_input" value="" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="371">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/Palmeiras.png"
                      />
                      <a href="team/team?team=371&champ=17">Palmeiras</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1140" style="text-align:center" class="form-control numeros_input" value="" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <div id="509" style="margin: 15px 0 0 0; ">
                <span class="label label-important" style="margin-right:70px">Encerrado</span>
                <span style="padding-right:10px" class="ac_1140">0.00</span>
                <div id="dvInfo_1140" style="display:none"></div>
              </div>
            </div>
          </div>
          <div style="" id="1141" class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12 col-xxs-6">
            <div class="smallstat box">
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?champ=17">Campeonato Paulista de 2018</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?rodada=187&champ=17">Rodada 4</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>Domingo 28 de Jan. 19:30hs</b>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="376">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/RedBullBrasil.png"
                      />
                      <a href="team/team?team=376&champ=17">Red Bull Brasil</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1141" style="text-align:center" class="form-control numeros_input" value="" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="363">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/Linense.png"
                      />
                      <a href="team/team?team=363&champ=17">Linense</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1141" style="text-align:center" class="form-control numeros_input" value="" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <div id="974" style="margin: 15px 0 0 0; ">
                <span class="label label-important" style="margin-right:70px">Encerrado</span>
                <span style="padding-right:10px" class="ac_1141">0.00</span>
                <div id="dvInfo_1141" style="display:none"></div>
              </div>
            </div>
          </div>
          <div style="" id="1142" class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12 col-xxs-6">
            <div class="smallstat box">
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?champ=17">Campeonato Paulista de 2018</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?rodada=187&champ=17">Rodada 4</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>Domingo 28 de Jan. 19:30hs</b>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="375">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/Santos.png"
                      />
                      <a href="team/team?team=375&champ=17">Santos</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1142" style="text-align:center" class="form-control numeros_input" value="" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="362">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/Ituano.png"
                      />
                      <a href="team/team?team=362&champ=17">Ituano</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1142" style="text-align:center" class="form-control numeros_input" value="" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <div id="96" style="margin: 15px 0 0 0; ">
                <span class="label label-important" style="margin-right:70px">Encerrado</span>
                <span style="padding-right:10px" class="ac_1142">0.00</span>
                <div id="dvInfo_1142" style="display:none"></div>
              </div>
            </div>
          </div>
          <div style="" id="1143" class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12 col-xxs-6">
            <div class="smallstat box">
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?champ=17">Campeonato Paulista de 2018</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?rodada=187&champ=17">Rodada 4</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>Segunda 29 de Jan. 17:30hs</b>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="367">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/santoandre.png"
                      />
                      <a href="team/team?team=367&champ=17">Santo Andre</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1143" style="text-align:center" class="form-control numeros_input" value="" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="377">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/Mirassol.png"
                      />
                      <a href="team/team?team=377&champ=17">Mirassol</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1143" style="text-align:center" class="form-control numeros_input" value="" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <div id="910" style="margin: 15px 0 0 0; ">
                <span class="label label-important" style="margin-right:70px">Encerrado</span>
                <span style="padding-right:10px" class="ac_1143">0.00</span>
                <div id="dvInfo_1143" style="display:none"></div>
              </div>
            </div>
          </div>
          <div style="" id="1144" class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12 col-xxs-6">
            <div class="smallstat box">
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?champ=17">Campeonato Paulista de 2018</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?rodada=187&champ=17">Rodada 4</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>Segunda 29 de Jan. 20:00hs</b>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="372">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/Ferroviaria.png"
                      />
                      <a href="team/team?team=372&champ=17">Ferroviária</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1144" style="text-align:center" class="form-control numeros_input" value="" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="378">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/Botafogo.png"
                      />
                      <a href="team/team?team=378&champ=17">Botafogo</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1144" style="text-align:center" class="form-control numeros_input" value="" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <div id="238" style="margin: 15px 0 0 0; ">
                <span class="label label-important" style="margin-right:70px">Encerrado</span>
                <span style="padding-right:10px" class="ac_1144">0.00</span>
                <div id="dvInfo_1144" style="display:none"></div>
              </div>
            </div>
          </div>
          <div style="" id="1146" class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12 col-xxs-6">
            <div class="smallstat box">
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?champ=17">Campeonato Paulista de 2018</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?rodada=188&champ=17">Rodada 5</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>Sexta 02 de Fev. 19:15hs</b>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="363">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/Linense.png"
                      />
                      <a href="team/team?team=363&champ=17">Linense</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1146" style="text-align:center" class="form-control numeros_input" value="1" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="372">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/Ferroviaria.png"
                      />
                      <a href="team/team?team=372&champ=17">Ferroviária</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1146" style="text-align:center" class="form-control numeros_input" value="2" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <div id="497" style="margin: 15px 0 0 0; ">
                <a href="penca/bolao?rodada=188&champ=17">
                  <span class="label label-success" style="margin-right:70px">Palpitar</span>
                </a>
                <span style="padding-right:10px" class="ac_1146">0.00</span>
                <div id="dvInfo_1146" style="display:none"></div>
              </div>
            </div>
          </div>
          <div style="" id="1147" class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12 col-xxs-6">
            <div class="smallstat box">
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?champ=17">Campeonato Paulista de 2018</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?rodada=188&champ=17">Rodada 5</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>Sexta 02 de Fev. 19:15hs</b>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="373">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/SaoBento.png"
                      />
                      <a href="team/team?team=373&champ=17">São Bento</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1147" style="text-align:center" class="form-control numeros_input" value="2" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="367">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/santoandre.png"
                      />
                      <a href="team/team?team=367&champ=17">Santo Andre</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1147" style="text-align:center" class="form-control numeros_input" value="3" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <div id="834" style="margin: 15px 0 0 0; ">
                <a href="penca/bolao?rodada=188&champ=17">
                  <span class="label label-success" style="margin-right:70px">Palpitar</span>
                </a>
                <span style="padding-right:10px" class="ac_1147">0.00</span>
                <div id="dvInfo_1147" style="display:none"></div>
              </div>
            </div>
          </div>
          <div style="" id="1148" class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12 col-xxs-6">
            <div class="smallstat box">
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?champ=17">Campeonato Paulista de 2018</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>
                      <a href="campeonatos/index?rodada=188&champ=17">Rodada 5</a>
                    </b>
                  </td>
                </tr>
              </table>
              <table width="100%">
                <tr>
                  <td style="text-align:center">
                    <b>Sabado 03 de Fev. 16:30hs</b>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="362">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/Ituano.png"
                      />
                      <a href="team/team?team=362&champ=17">Ituano</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1148" style="text-align:center" class="form-control numeros_input" value="1" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td width="55%" style="text-align:left">
                    <span id="365">
                      <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br//assets/img/campeonatopaulista2018/pontepreta.png"
                      />
                      <a href="team/team?team=365&champ=17">Ponte Preta</a>
                    </span>
                  </td>
                  <td width="35%">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                        <input id="1148" style="text-align:center" class="form-control numeros_input" value="2" type="text">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <div id="453" style="margin: 15px 0 0 0; ">
                <a href="penca/bolao?rodada=188&champ=17">
                  <span class="label label-success" style="margin-right:70px">Palpitar</span>
                </a>
                <span style="padding-right:10px" class="ac_1148">0.00</span>
                <div id="dvInfo_1148" style="display:none"></div>
              </div>
            </div>
          </div>
          <div class="form-action">
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2>
        <a href="index/index?limit=16">Mais</a>
      </h2>
    </div>
    
    <!--<h1>Bem vindo ao Bolão Craque de Bola!</h1>
    
    
    <h2>Em fase final de desenvolvimento, trazendo novidades para vocês!</h2>
    
    
    <h3>Venha se preparar para a temporada de 2017 do futebol brasileiro..</h3>
    
    <h3>Compartilhe com seus companheiros e ganhe R$ 1,00 para cada cadastro efetuado com seu link de compartilhamento.</h3>
    <br>
    
    <a class="btn btn-info" id="linkreferencia" href="javascript:void(0)">Gerar link</a>  
    
    <br>
    
    ** Clique aqui para gerar seu link e compartilhar com seus amigos e amigas! **
    <br>
    <div class="form-group" id="divnewlink" style="display:none">
    <div class="controls">
    <div class="input-group col-lg-4 col-sm-4 col-md-4">
          <div class="" style="padding: 0px 0px 0px 0px">
                  <input type="text" id="newlink" class="form-control">
                  <span class="input-group-btn"><button class="btn" id="copy" type="button"><i class="fa fa-copy"></i></button></span>
                  <a href="javascript:void()" ><i class="fa fa-copy"></i></a>
          </div>
    </div>	
    </div>
    </div>
    
    <br>
    
    <h3><p>Até logo, e bom divertimento.</p></h3>
    <p>Equipe Craque de Bola.</p>
    
    
    <p>Previsão inauguração do site em Janeiro/2017.</p>
    
    
    <script type="text/javascript">
    $(function() { 
    $("#copy").bind("click", function() {
        $("#newlink").select();
        document.execCommand("copy");
    });
    
    $("#linkreferencia").bind("click", function() {
        $.post("index/gerarlinkreferencia", function(response) {
            $("#newlink").val(response);                
            $("#divnewlink").attr("style","display:yes");
            $("#newlink").select();
        });
    });
    });
    
    </script>
    -->
    