<div class="col-lg-5 col-sm-6 col-xs-12 col-xxs-12 col-xxs-6" style="margin-top: 10px">
        <div class="smallstat box" style="border:1px solid #dbdee0; padding:7px">
          <table width="100%">
            <tbody>
              <tr>
                <td style="text-align:center">
                  <b>
                    <a href="{{url}}/public/campeonatos/index?champ={{partido.ch_id}}">{{partido.ch_nome}}</a>
                  </b>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="100%">
            <tbody>
              <tr>
                <td style="text-align:center">
                  <b>{{partido.mt_date | date: 'dd/MM/yyyy HH:mm'}}</b>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <tbody>
              <tr>
                <td width="55%" style="text-align:left">
                  <span id="376">
                    <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br/{{assets}}{{partido.tm1_logo}}">
                    <a href="/equipo/{{partido.tm1_id}}"> {{partido.t1nome}}</a>
                  </span>
                </td>
                <td *ngIf="partido.mt_played == 1" width="10%" style="text-align:right">
                  <span [ngClass]="partido.acerto ? 'label label-success' : 'label label-danger'">{{partido.mt_goal1}}</span>
                </td>
                <td width="35%">
                  <div class="row">
                    <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                      <input [disabled]="!partido.disabled" style="text-align:center" class="form-control numeros_input" [(ngModel)]="partido.rs_res1"
                        name="rs_res1{{partido.mt_id}}" type="text">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <tbody>
              <tr>
                <td width="55%" style="text-align:left">
                  <span id="372">
                    <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br/{{assets}}{{partido.tm2_logo}}">
                    <a href="/equipo/{{partido.tm2_id}}"> {{partido.t2nome}}</a>
                  </span>
                </td>
                <td *ngIf="partido.mt_played == 1" width="10%" style="text-align:right">
                    <span [ngClass]="partido.acerto ? 'label label-success' : 'label label-danger'">{{partido.mt_goal2}}</span>
                </td>
                <td width="35%">
                  <div class="row">
                    <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                      <input [disabled]="!partido.disabled" style="text-align:center" class="form-control numeros_input" [(ngModel)]="partido.rs_res2"
                        name="rs_res2{{partido.mt_id}}" type="text">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div id="466" style="margin: 15px 0 0 0; ">
            <div id="dvInfo_1114" style="display:none"></div>
          </div>
        </div>
      </div>