<ng4-loading-spinner> </ng4-loading-spinner>


<!-- CARGAR CAMPEONATOS -->

<div class="row">
  <div class="col-lg-12">
    <div class="box">
      <div class="box-content">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="controls">
              <select [ngModel]="campeonatos" class="form-control" (ngModelChange)="changeCampeonato($event)" name="seleccion">
                <option [value]="campeonato.ch_id" *ngFor="let campeonato of campeonatos">{{campeonato.ch_nome}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- FIN DE CARGAR CAMPEONATOS -->

<div *ngIf="equipos1.length > 0">
  <div class="row">

    <div class="col-lg-6">
      <div class="box">
        <div class="box-header">
          <h2>
            <i class="fa fa-edit"></i>Partidos</h2>
        </div>
        <div class="box-content">
          <form #form="ngForm" class="form-horizontal" (submit)="onSubmit(partidos)">
            <div *ngFor='let partido of partidos'>
              <div class="form-group">
                <div class="controls">
                  <div class="input-group col-sm-4">
                    <select class="form-control" [ngModel]="rodadas" id="ronda" name="ronda" [(ngModel)]="partido.ronda">
                      <option [value]="rodada.rd_id" *ngFor="let rodada of rodadas">{{rodada.rd_round}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="controls">
                  <div class="input-group col-sm-4">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <input type="text" id="date" name="date" class="form-control" [(ngModel)]="partido.date" placeholder="Data dd/mm/yy">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="controls">
                  <div class="input-group col-sm-4">
                    <span class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </span>
                    <input type="text" id="hora" name="hora" class="form-control" [(ngModel)]="partido.hora" placeholder="Hora hh:mm">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="controls">
                  <div class="input-group date col-sm-12">
                    <span class="input-group-addon">
                      <i class="fa  fa-search"></i>
                    </span>
                    <div class="controls">
                      <select name="team1{{partido.team1}}" [(ngModel)]="partido.team1" class="form-control">
                        <option [value]="equipo1.eq_id" *ngFor="let equipo1 of equipos1">{{equipo1.eq_nome}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="controls">
                  <div class="input-group date col-sm-12">
                    <span class="input-group-addon">
                      <i class="fa  fa-search"></i>
                    </span>
                    <div class="controls">
                      <select name="team2{{partido.team2}}" [(ngModel)]="partido.team2" class="form-control">
                        <option [value]="equipo2.eq_id" *ngFor="let equipo2 of equipos2">{{equipo2.eq_nome}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>


            </div>


            <div class="form-actions">
              <button id="salvar_jogo" class="btn btn-success">Salvar</button>
              <a (click)="add()" class="btn btn-primary">Add</a>              
            </div>


          </form>

        </div>
      </div>
    </div>

    <div class="col-lg-6">
        <pre>{{partidos | json}}</pre>
    </div>

  </div>
</div>



<!-- CARGAR ELEMENTOS PARA CARGAR PARTIDOS -->

<div class="row">
  <div class="box">
    <div class="box-content">
      <div class="row">
        <div class="col-lg-4">
          <form class="form-horizontal">
            <div class="form-group">
              <div class="controls">
                <select [ngModel]="campeonatos" class="form-control" (ngModelChange)="loadRodadas($event)" name="seleccion">
                  <option [value]="campeonato.ch_id" *ngFor="let campeonato of campeonatos">{{campeonato.ch_nome}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-2">
          <form class="form-horizontal">
            <div class="form-group">
              <div class="controls">
                <input style="text-align:center" class="form-control numeros_input" [(ngModel)]="cambio" name="cambio" type="text">
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-2">
            <form class="form-horizontal">
              <div class="form-group">
                <div class="controls">
                  <a href="javascript:void(0)" class="btn btn-success" style="text-align: center;" (click)="search()">Buscar</a>
                </div>
              </div>
            </form>
          </div>



      </div>
    </div>
  </div>
</div>


<!-- FIN DE CARGAR ELEMENTOS -->

<div class="col-lg-12">
    <div class="box">
      <div class="box-content">
        <div class="row">
          <div *ngFor='let partido of partidos'>
  
  
            <div class="col-lg-3 col-sm-6 col-xs-12 col-xxs-12 col-xxs-6" style="margin-top: 10px">
              <div class="smallstat box" style="border:1px solid #dbdee0; padding:7px">
                <table width="100%">
                  <tbody>
                    <tr>
                      <td style="text-align:center">
                        <b>{{partido.mt_date}}</b>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <tbody>
                    <tr>
                      <td width="55%" style="text-align:left">
                        <span id="376">
                          <img width="25px;" height="21px;" src="{{url_img}}/{{partido.tm1_logo}}"> {{partido.t1nome}}
                        </span>
                      </td>
                      <td width="35%">
                        <div class="row">
                          <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                            <input style="text-align:center" class="form-control numeros_input" [(ngModel)]="partido.mt_goal1" name="rs_res1{{partido.mt_id}}"
                              type="text">
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <tbody>
                    <tr>
                      <td width="55%" style="text-align:left">
                        <span id="372">
                          <img width="25px;" height="21px;" src="{{url_img}}/{{partido.tm2_logo}}"> {{partido.t2nome}}
                        </span>
                      </td>
                      <td width="35%">
                        <div class="row">
                          <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                            <input style="text-align:center" class="form-control numeros_input" [(ngModel)]="partido.mt_goal2" name="rs_res2{{partido.mt_id}}"
                              type="text">
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
  
                <div id="466" style="margin: 15px 0 0 0; ">
                  <div id="dvInfo_1114" style="display:none"></div>
                </div>
              </div>
            </div>
          </div>
  
          <a (click)="save()" class="btn btn-success">Salvar</a>
  
        </div>
      </div>
    </div>
  </div>