<ng4-loading-spinner> </ng4-loading-spinner>

<form #form="ngForm" (submit)="crearRodada(rd_idchampionship, rd_round)">

    <div class="row">

        <div class="col-lg-12">
            <div class="box">
                <div class="box-content">

                    <!-- CARGAR CAMPEONATOS -->


                    <div class="form-group">
                        <div class="controls">
                            <select [(ngModel)]="rd_idchampionship" name="rd_idchampionship" class="form-control">
                                <option [value]="campeonato.ch_id"  *ngFor="let campeonato of campeonatos">{{campeonato.ch_nome}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- FIN DE CARGAR CAMPEONATOS -->


                    <div class="form-group">
                        <div class="form-group">
                            <div class="controls">
                                <div class="input-group col-sm-4">
                                    <span class="input-group-addon">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                    <input type="text" [(ngModel)]="rd_round" name="rd_round" class="form-control" placeholder="Nome da rodada">
                                </div>
                            </div>
                        </div>


                        <div class="form-actions">
                            <button id="salvar_rodada" class="btn btn-primary">Salvar</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--/col-->

        </div>

    </div>
</form>

<pre>{{rd_idchampionship | json}}</pre>
<pre>{{rd_round | json}}</pre>