<!-- SELECCIONAR AL PAIS AL QUE LOS EQUIPOS PERTENECEN -->

<div class="row">
  <div class="col-lg-12">
    <div class="box">
      <div class="box-content">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="controls">
              <select [ngModel]="paises" class="form-control" (ngModelChange)="change($event)" name="seleccion">
                <option [value]="pais.ps_id" *ngFor="let pais of paises">{{pais.ps_nome}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- FIN AL PAIS AL QUE LOS EQUIPOS PERTENECEN -->

<div class="row">


  <!-- REGISTRAR LOS EQUIPOS -->

  <div class="col-lg-6">
    <div class="box">
      <div class="box-content">
        <form #form="ngForm" (submit)="save(equipos)">

          <div *ngFor="let equipo of equipos" class="form">

            <ng4-loading-spinner> </ng4-loading-spinner>

            <div class="form-group">
              <div class="controls">
                <div class="input-group col-sm-8">
                  <span class="input-group-addon">
                    <i class="fa fa-male"></i>
                  </span>
                  <input type="text" name="tm_name" [(ngModel)]="equipo.nome" class="form-control" placeholder="Time">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="controls">
                <div class="input-group col-sm-8">
                  <span class="input-group-addon">
                    <i class="fa fa-picture-o"></i>
                  </span>
                  <input type="text" name="tm_logo" [(ngModel)]="equipo.logo" class="form-control" placeholder="Logo">
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="controls">
                  <div class="input-group col-sm-8">
                    <span class="input-group-addon">
                      <i class="fa fa-font"></i>
                    </span>
                    <input type="text" name="tm_sigla" [(ngModel)]="equipo.sigla" class="form-control" placeholder="Sigla">
                  </div>
                </div>
              </div>            

          </div>

          <div class="form-actions">
            <button id="salvar_team" class="btn btn-primary">Salvar</button>
            <a (click)="add()" class="btn btn-success">Add Equipo</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- FIN REGISTRAR LOS EQUIPOS -->

  <!-- LISTA DE EQUIPOS REGISTRADOS DEL PAIS  -->

  <div class="col-lg-6">
    <div class="box">
      <div class="box-content">
        <ul>
          <li *ngFor="let equipoCadastrado of equiposCadastrados">
            ( {{ equipoCadastrado.eq_sigla }} ) {{equipoCadastrado.eq_nome}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

 <!-- FIN LISTA DE EQUIPOS REGISTRADOS DEL PAIS  -->

<pre>{{equipos | json }}</pre>