<!-- INICIO DE LISTA PARA ELEGIR CAMPEONATOS -->

<div class="row">
  <div *ngFor="let campeonato of campeonatos" class="col-lg-3 col-sm-6">
    <div class="smallchart {{campeonato.active}} box">
      <div *ngIf="campeonato.active" class="title">
        <a href="/palpitarrodada/{{campeonato.ch_id}}">
          {{campeonato.ch_nome}}</a>
      </div>
    </div>
  </div>
</div>

<!-- FINAL DE LISTA PARA ELEGIR EL CAMPEONATO -->

<div *ngIf="cargoCampeonato">

  <!-- INICIO DE LA LISTA DE RODADAS DEL CAMPEONATO -->

  <div class="row">
    <div class="col-lg-12">

      <input type="hidden" value="17" id="champ">

      <div class="box">
        <div class="box-header">
          <h2>
            <i class="fa fa-align-justify"></i>
            <span class="break"></span>Rodadas</h2>
          <div class="box-icon">
            <span></span>
          </div>
        </div>
        <div class="box-content">
          <div class="pagination pagination-centered" style="margin: 0px !important">
            <ul class="pagination">
              <li *ngFor="let rodada of rodadas" class="{{rodada.active}}">
                <a href="/palpitarrodada/{{rodada.rd_idchampionship}}/rodada/{{rodada.rd_id}}">{{rodada.rd_round}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DE LA LISTA DE RODADAS DEL CAMPEONATO -->

  <!-- INICIO MENSAJE DE EXITO CUANDO LOS PALPITES FUERON REALIZADOS CON SUCESSO -->
  <div *ngIf="palpitesRealizados">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Sucesso!</strong> Os palpites foram realizados com sucesso.
    </div>
  </div>
<!-- FIN MENSAJE DE EXITO CUANDO LOS PALPITES FUERON REALIZADOS CON SUCESSO -->

  <!-- INICIO DE LA LISTA DE PARTIDOS DEL CAMPEONATO EN LA RODADA ACTIVA -->
  <form #form="ngForm" (submit)="logForm(partidos)">
    <div class="">
      <div class="box">
        <div class="box-header">
          <h2>
            <i class="fa fa-align-justify"></i>
            <span class="break"></span> Próximos Jogos</h2>
        </div>
        <div class="box-content">
          <div class="row">



            <div *ngFor='let partido of partidos'>


              <div class="col-lg-3 col-sm-6 col-xs-12 col-xxs-12 col-xxs-6" style="margin-top: 10px">
                <div class="smallstat box" style="border:1px solid #dbdee0; padding:7px">
                  <table width="100%">
                    <tbody>
                      <tr>
                        <td style="text-align:center">
                          <b>
                            <a href="{{url}}/public/campeonatos/index?champ={{partido.ch_id}}">{{partido.ch_nome}}</a>
                          </b>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table width="100%">
                    <tbody>
                      <tr>
                        <td style="text-align:center">
                          <b>{{partido.mt_date | date: 'dd/MM/yyyy HH:mm'}}</b>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table>
                    <tbody>
                      <tr>
                        <td width="55%" style="text-align:left">
                          <span id="376">
                            <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br/{{partido.tm1_logo}}">
                            {{partido.t1nome}}
                          </span>
                        </td>
                        <td width="35%">
                          <div class="row">
                            <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                              <input style="text-align:center" class="form-control numeros_input" [(ngModel)]="partido.rs_res1" name="rs_res1{{partido.mt_id}}"
                                type="text">
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table>
                    <tbody>
                      <tr>
                        <td width="55%" style="text-align:left">
                          <span id="372">
                            <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br/{{partido.tm2_logo}}">
                            {{partido.t2nome}}
                          </span>
                        </td>
                        <td width="35%">
                          <div class="row">
                            <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                              <input style="text-align:center" class="form-control numeros_input" [(ngModel)]="partido.rs_res2" name="rs_res2{{partido.mt_id}}"
                                type="text">
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div id="466" style="margin: 15px 0 0 0; ">
                    <div id="dvInfo_1114" style="display:none"></div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>

    <div style="width:100%">
      <div style="display:table; margin: 0 auto;">
        <button class="btn btn-lg btn-success" style="text-align: center;">Palpitar</button>
      </div>
    </div>

  </form>

  <!-- FIN DE LA LISTA DE PARTIDOS DEL CAMPEONATO EN LA RODADA ACTIVA -->

</div>