<ng4-loading-spinner> </ng4-loading-spinner>

<!-- INICIO DE LISTA PARA ELEGIR CAMPEONATOS -->

<div class="row">
  <div *ngFor="let campeonato of campeonatos" class="col-lg-3 col-sm-6">
    <div [ngClass]="campeonato.ch_id === campeonatoActual ? 'smallchart blue box' : 'smallchart white box' ">
      <div style="height:250px">
        <a href="/palpitarrodada/{{campeonato.ch_id}}">
          <img height="250px" width="200px" src="{{campeonato.ch_logocampeonato}}" style="padding: 10px 10px 10px 10px">
        </a>
      </div>
      <div class="title">
        <a href="/palpitarrodada/{{campeonato.ch_id}}">
          {{campeonato.ch_nome}}</a>
      </div>
    </div>
  </div>
</div>

<!-- FINAL DE LISTA PARA ELEGIR EL CAMPEONATO -->

<div *ngIf="cargoCampeonato">

  <!-- INICIO DE LA LISTA DE RODADAS DEL CAMPEONATO -->

  <div class="row">
    <div class="col-lg-12">

      <input type="hidden" value="17" id="champ">

      <div class="box">
        <div class="box-header">
          <h2>
            <i class="fa fa-align-justify"></i>
            <span class="break"></span>Rodadas</h2>
          <div class="box-icon">
            <span></span>
          </div>
        </div>
        <div class="box-content">
          <div class="pagination pagination-centered" style="margin: 0px !important">
            <ul class="pagination">
              <li *ngFor="let rodada of rodadas" class="{{rodada.active}}">
                <a href="/palpitarrodada/{{rodada.rd_idchampionship}}/rodada/{{rodada.rd_id}}">{{rodada.rd_round}}</a>
              </li>
            </ul>
          </div>
          <div *ngIf="rodadaPay() && !paid()">
            <button class="btn btn-lg btn-success" style="text-align: center;" (click)="comprar()">Palpitar (R$: {{rodadaActualObjeto.rd_custo}})</button>
            <div class="alert alert-danger" *ngIf="semDinheiro">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Erro!</strong> Coloque crédito antes de comprar a rodada.
              <a href="/caixa">Clique na caixa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DE LA LISTA DE RODADAS DEL CAMPEONATO -->

  <!-- INICIO MENSAJE DE EXITO CUANDO LOS PALPITES FUERON REALIZADOS CON SUCESSO -->
  <div *ngIf="palpitesRealizados">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Sucesso!</strong> Os palpites foram realizados com sucesso.
    </div>
  </div>
  <!-- FIN MENSAJE DE EXITO CUANDO LOS PALPITES FUERON REALIZADOS CON SUCESSO -->

  <!-- INICIO DE LA LISTA DE PARTIDOS DEL CAMPEONATO EN LA RODADA ACTIVA -->

  <div class="row">

    <!-- PARTIDOS PARA PALPITAR -->
    <div class="col-lg-8">

      <form #form="ngForm" (submit)="logForm(partidos)">
        <div class="">
          <div class="box">
            <div class="box-header">
              <h2>
                <i class="fa fa-align-justify"></i>
                <span class="break"></span> Próximos Jogos</h2>
            </div>
            <div class="box-content">
              <div class="row">



                <div *ngFor='let partido of partidos'>


                  <div class="col-lg-5 col-sm-6 col-xs-12 col-xxs-12 col-xxs-6" style="margin-top: 10px">
                    <div class="smallstat box" style="border:1px solid #dbdee0; padding:7px">
                      <table width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align:center">
                              <b>
                                <a href="{{url}}/public/campeonatos/index?champ={{partido.ch_id}}">{{partido.ch_nome}}</a>
                              </b>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table width="100%">
                        <tbody>
                          <tr>
                            <td style="text-align:center">
                              <b>{{partido.mt_date | date: 'dd/MM/yyyy HH:mm'}}</b>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table>
                        <tbody>
                          <tr>
                            <td width="55%" style="text-align:left">
                              <span id="376">
                                <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br/{{assets}}{{partido.tm1_logo}}">
                                <a href="/equipo/{{partido.tm1_id}}"> {{partido.t1nome}}</a>
                              </span>
                            </td>
                            <td *ngIf="partido.mt_played == 1" width="10%" style="text-align:right">
                              <span [ngClass]="partido.acerto ? 'label label-success' : 'label label-danger'">{{partido.mt_goal1}}</span>
                            </td>
                            <td width="35%">
                              <div class="row">
                                <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                                  <input [disabled]="!partido.disabled" style="text-align:center" class="form-control numeros_input" [(ngModel)]="partido.rs_res1"
                                    name="rs_res1{{partido.mt_id}}" type="text">
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table>
                        <tbody>
                          <tr>
                            <td width="55%" style="text-align:left">
                              <span id="372">
                                <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br/{{assets}}{{partido.tm2_logo}}"> {{partido.t2nome}}
                              </span>
                            </td>
                            <td *ngIf="partido.mt_played == 1" width="10%" style="text-align:right">
                                <span [ngClass]="partido.acerto ? 'label label-success' : 'label label-danger'">{{partido.mt_goal2}}</span>
                            </td>
                            <td width="35%">
                              <div class="row">
                                <div class="col-xs-10 col-sm-10 col-lg-10 numeros">
                                  <input [disabled]="!partido.disabled" style="text-align:center" class="form-control numeros_input" [(ngModel)]="partido.rs_res2"
                                    name="rs_res2{{partido.mt_id}}" type="text">
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div id="466" style="margin: 15px 0 0 0; ">
                        <div id="dvInfo_1114" style="display:none"></div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!rodadaPay() || paid()" style="width:100%;margin-bottom:10px">
          <div style="display:table; margin: 0 auto;">
            <button class="btn btn-lg btn-success" style="text-align: center;">Palpitar</button>
          </div>
        </div>

      </form>
    </div>
    <!-- FIN DE PARTIDOS PARA PALPITAR -->

    <!-- TABLA DE POSICIONES -->
    <div class="col-lg-4">
      <app-infocampeonato [acumulado]="campeonatoActualObjeto.ch_acumulado" [acumulado_rodada]="rodadaActualObjeto.rd_acumulado"></app-infocampeonato>
      <app-posiciones></app-posiciones>
      <app-ranking></app-ranking>
    </div>
    <!-- FIN TABLA DE POSICIONES -->

  </div>

  <!-- FIN DE LA LISTA DE PARTIDOS DEL CAMPEONATO EN LA RODADA ACTIVA -->

</div>

<div *ngIf="!campeonatoActual">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12 col-xxs-12">
      <app-caixa></app-caixa>
    </div>
  </div>
  <div class="row" style="padding-top:10px">
    <div class="col-lg-12 col-sm-12 col-xs-12 col-xxs-12">
      <app-noticias></app-noticias>
    </div>
  </div>
</div>