<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-content">
                <form id="frChamp_palpites" [formGroup]="campeonato" (ngSubmit)="onSubmit()">	
                        
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-4">
                                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                                <input type="text" name="ch_nome" formControlName="ch_nome" class="form-control" placeholder="Campeonato">
                              </div>                                              
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-2">
                                <span class="input-group-addon"><i class="fa fa-star"></i></span>
                                <input type="text" name="ch_sec1_ini" formControlName="ch_sec1_ini" class="form-control" placeholder="Sector 1 In.">
                              </div>                                              
                        </div>
                    </div>    
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-2">
                                <span class="input-group-addon"><i class="fa fa-star"></i></span>
                                <input type="text" name="ch_sec1_fin" formControlName="ch_sec1_fin" class="form-control" placeholder="Sector 1 Fin">
                              </div>                                              
                        </div>
                    </div>
                   <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-4">
                                <span class="input-group-addon"><i class="fa fa-star"></i></span>
                                <input type="text" name="ch_sec1_desc" formControlName="ch_sec1_desc" class="form-control" placeholder="Sector 1 Descripcion">
                              </div>                                              
                        </div>             
                   </div>
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-2">
                                <span class="input-group-addon"><i class="fa fa-star-half-empty"></i></span>
                                <input type="text" name="ch_sec2_ini" formControlName="ch_sec2_ini" class="form-control" placeholder="Sector 2 In.">
                              </div>                                              
                        </div>   
                    </div>
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-2">
                                <span class="input-group-addon"><i class="fa fa-star-half-empty"></i></span>
                                <input type="text" name="ch_sec2_fin" formControlName="ch_sec2_fin" class="form-control" placeholder="Sector 2 Fin">
                              </div>                                              
                        </div>          
                    </div>  
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-4">
                                <span class="input-group-addon"><i class="fa fa-star-half-empty"></i></span>
                                <input type="text" name="ch_sec2_desc" formControlName="ch_sec2_desc" class="form-control" placeholder="Sector 2 Descripcion">
                              </div>                                              
                        </div>              
                    </div>
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-2">
                                <span class="input-group-addon"><i class="fa fa-star-o"></i></span>
                                <input type="text" name="ch_sec3_ini" formControlName="ch_sec3_ini" class="form-control" placeholder="Sector 3 In.">
                              </div>                                              
                        </div>              
                    </div>
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-2">
                                <span class="input-group-addon"><i class="fa fa-star-o"></i></span>
                                <input type="text" name="ch_sec3_fin" formControlName="ch_sec3_fin" class="form-control" placeholder="Sector 3 Fin">
                              </div>                                              
                        </div>  
                    </div>
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-4">
                                <span class="input-group-addon"><i class="fa fa-star-o"></i></span>
                                <input type="text" name="ch_sec3_desc" formControlName="ch_sec3_desc" class="form-control" placeholder="Sector 3 Descricao">
                              </div>                                              
                        </div>              
                    </div>                    
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-2">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" name="ch_dchamp" formControlName="ch_dchamp" class="form-control" placeholder="p/ o campeonato">
                              </div>                                              
                        </div>                          
                    </div>
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-2">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" name="ch_djogo" formControlName="ch_djogo" class="form-control" placeholder="p/ o jogo">
                              </div>                                              
                        </div>                          
                    </div>     
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-2">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" name="ch_drodada" formControlName="ch_drodada" class="form-control" placeholder="p/ a rodada">
                              </div>                                              
                        </div>                          
                    </div>                    
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-2">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" name="ch_dpalpite" formControlName="ch_dpalpite" class="form-control" placeholder="Custo do palpite">
                              </div>                                              
                        </div>                          
                    </div>           
                    <div class="form-group">
                        <div class="controls">
                              <div class="input-group col-sm-2">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                <input type="text" name="ch_logocampeonato" formControlName="ch_logocampeonato" class="form-control" placeholder="Logo campeonato">
                              </div>                                              
                        </div>                          
                    </div>                                                     
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Salvar Campeonato</button>
                      </div>
                </form>   
            </div>
        </div>
    </div>
</div>

<pre>{{campeonato.value || json}}</pre>