<div class="container">
  <div class="box">
    <div class="box-header">
        <h2><i class="fa fa-align-justify"></i><span class="break"></span> Próximos Jogos</h2>
    </div>
    <div class="box-content">
      <div class="row">
        <div *ngFor='let jogo of listaJogos'> 
      <div class="col-lg-3 col-sm-6 col-xs-12 col-xxs-12 col-xxs-6" style="margin-top: 10px">
        <div class="smallstat box" style="border:1px solid #dbdee0; padding:7px">
          <table width="100%">
            <tbody>
              <tr>
                <td style="text-align:center">
                  <b><a href="{{url}}/public/campeonatos/index?champ={{jogo.ch_id}}">{{jogo.ch_nome}}</a></b>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="100%">
            <tbody>
              <tr>
                <td style="text-align:center">
                  <b><a href="{{url}}/public/campeonatos/index?rodada={{jogo.rd_id}}&amp;champ={{jogo.ch_id}}">Rodada {{jogo.rd_round}}</a></b>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="100%">
            <tbody>
              <tr>
                <td style="text-align:center">
                  <b>{{jogo.mt_date}}</b>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <tbody>
              <tr>
                <td width="55%" style="text-align:left">
                  <span id="376">
                    <img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br/{{jogo.tm1_logo}}">
                      <a href="{{url}}/public/team/team?team=376&amp;champ=17">{{jogo.t1nome}}</a>
                  </span>
                </td>
                <td width="35%">
                  <div class="row">
                    <div class="col-xs-10 col-sm-10 col-lg-10 numeros">                    
                      <input style="text-align:center" class="form-control numeros_input" value="{{jogo.rs_res1}}" type="text">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        <table>
      <tbody>
        <tr>
          <td width="55%" style="text-align:left"><span id="372"><img width="25px;" height="21px;" src="http://www.bolaocraquedebola.com.br/{{jogo.tm2_logo}}">
            <a href="{{url}}/public/team/team?team=372&amp;champ=17">{{jogo.t2nome}}</a></span></td><td width="35%">
            <div class="row">
              <div class="col-xs-10 col-sm-10 col-lg-10 numeros">                    
                <input style="text-align:center" class="form-control numeros_input" value="{{jogo.rs_res2}}" type="text">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="466" style="margin: 15px 0 0 0; ">
      <a href="{{url}}/public/">
        <span class="label label-success" style="margin-right:70px">Palpitar</span>
      </a><span style="padding-right:10px" class="ac_1114">0.00</span>
    <div id="dvInfo_1114" style="display:none"></div>
    </div>
  </div>    
</div>
</div>
<div class="form-action">                              
</div>
</div>
</div>
</div>
</div>