<div class="box">
  <div class="box-header">
    <h2>
      <a href="javascript:void(0)" (click)="cargarTabla()">
        <i class="fa fa-eye"></i>
      </a>
      Ranking</h2>

  </div>
  <div class="box-content" [style]="vertabla">

    <div *ngIf="!rankingCargado && !cargando">
      <button class="btn btn-sm btn-info" (click)="cargarTabla()">Carregar Ranking</button>
    </div>

    <div *ngIf="!rankingCargado && cargando" style="text-align:center;padding-top:50px">
      <img src="/assets/gif/loading.gif" width="100px">
    </div>

    <div *ngIf="rankingCargado && rankings.length > 0">
      <div class="box">
        <div class="box-content">
          <ul class="dashboard-list">
            <li *ngFor="let ranking of rankings, let i = index">
              <a href="/perfil/9/usuario/{{ranking.rs_iduser}}">
                <!-- <span class="author" style="width:0px">
                          <img src="{{ranking.rk_foto}}" alt="avatar" width="18px">
                      </span> -->
                <span>{{i + 1}}</span>
                <span>{{ranking.suma}}</span>
                {{ranking.us_username}}
                <i class="fa fa-star green" *ngIf="i == 0"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="rankingCargado && rankings.length == 0">
      Ranking vazio. Seja o primeiro em palpitar.
    </div>
  </div>
</div>